// Main Navigation
nav.navbar.navbar-expand-md.navbar-dark.bg-success
  a.navbar-brand(href='#') Express PUG
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      if (page === 'home')
        li.nav-item.active
          a.nav-link(href='/') Home
      else
        li.nav-item
          a.nav-link(href='/') Home
      if (page === 'about')
        li.nav-item.active
          a.nav-link(href='/about') About Us
      else
        li.nav-item
          a.nav-link(href='/about') About Us
      if (page === 'services')
        li.nav-item.active
          a.nav-link(href='/services') Services
      else
        li.nav-item
          a.nav-link(href='/services') Services
      if (page === 'contact')
        li.nav-item.active
          a.nav-link(href='/contact') Contact Us
      else
        li.nav-item
          a.nav-link(href='/contact') Contact Us