<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/font-awesome-5.7.2.css">
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/mdb.css">
    <title>Express JS</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="#">Express Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
        </ul>
    </div>
</nav>

<section class="mt-4 p-3">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="alert alert-success alert-dismissible "  >
                    <button class="close" data-dismiss="alert">
                        <i class="fa fa-times-circle"></i>
                    </button>
                    <h4 class="alert-heading">Well done!</h4>
                    <p>Thank You! Mr/Mrs. <span class="text-danger"><%= user.username %></span>
                        for your request : <span class="text-danger"><%= user.message %></span> Our Service person will get back to you
                        with your email ID: <span class="text-danger"><%= user.email %></span></p>
                    <hr>
                    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Javascript Libraries -->
<script src="../public/js/jquery-3.3.1.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.js"></script>
<script src="../public/js/mdb.js"></script>
</body>
</html>