<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/mdb.css">
    <title>Express JS</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="#">Express Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
        </ul>
    </div>
</nav>

<section class="mt-4 p-3">
    <h3 class="display-4 text-success">Our Services</h3>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque consectetur consequatur doloribus dolorum ea esse, illum iusto magnam nesciunt officiis qui quidem repellat saepe ullam ut vero. Architecto culpa dolorem enim illo ipsam iste magnam nemo veritatis! Illo odio provident recusandae reprehenderit vitae! At consequatur, iste magni obcaecati pariatur quasi quisquam. Aliquid doloremque earum ipsa, laborum soluta tempore unde.</p>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ea eligendi quibusdam vero voluptate? Beatae dignissimos dolor ea illum laudantium, magnam neque non odit, praesentium sunt unde vero? Atque culpa, deserunt ducimus eius facere labore minima porro, provident quaerat quisquam recusandae reprehenderit rerum sapiente sequi sit, soluta veritatis voluptas voluptatum!</p>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur delectus doloribus in itaque natus pariatur quidem reprehenderit sapiente, totam ullam unde ut velit? A, blanditiis cum dolorum ex fuga fugit harum labore necessitatibus obcaecati odio possimus quos reiciendis repudiandae suscipit vero! Aliquam distinctio eaque ipsa iste nihil recusandae sint ullam, ut. Culpa labore minus quas ratione sint sunt tempora.</p>
</section>

<!-- Javascript Libraries -->
<script src="../public/js/jquery-3.3.1.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.js"></script>
<script src="../public/js/mdb.js"></script>
</body>
</html>