<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/font-awesome-5.7.2.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/mdb.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title><%= pageTitle %></title>
</head>
<body>


   <!-- Main Navigation -->
   <% include layout/navbar.ejs %>


   <!-- Main Content -->
   <section class="p-3 container-fluid">
       <div class="row">
           <div class="col">
               <h1 class="text-primary"><%= pageTitle %></h1>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur distinctio dolorem et fuga fugit harum incidunt nihil, nulla officia reiciendis sed ut. Amet commodi cumque dignissimos eligendi est excepturi expedita facere harum, hic id iusto magni maxime mollitia nam, nesciunt nihil odit provident quam ratione sint soluta unde vitae?</p>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis dicta et incidunt labore perspiciatis quis repudiandae tempore velit. Ad aliquam aliquid amet asperiores cumque cupiditate delectus dolor dolore doloribus dolorum eos est hic, minima mollitia nobis odit perspiciatis recusandae rem repudiandae soluta tempore ut veritatis voluptatibus? Aliquid cumque deleniti dolore exercitationem fugit hic, itaque libero magni maxime nemo porro, quasi quod reprehenderit sint sunt tenetur totam unde vero vitae.</p>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur distinctio dolorem et fuga fugit harum incidunt nihil, nulla officia reiciendis sed ut. Amet commodi cumque dignissimos eligendi est excepturi expedita facere harum, hic id iusto magni maxime mollitia nam, nesciunt nihil odit provident quam ratione sint soluta unde vitae?</p>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis dicta et incidunt labore perspiciatis quis repudiandae tempore velit. Ad aliquam aliquid amet asperiores cumque cupiditate delectus dolor dolore doloribus dolorum eos est hic, minima mollitia nobis odit perspiciatis recusandae rem repudiandae soluta tempore ut veritatis voluptatibus? Aliquid cumque deleniti dolore exercitationem fugit hic, itaque libero magni maxime nemo porro, quasi quod reprehenderit sint sunt tenetur totam unde vero vitae.</p>
           </div>
       </div>
   </section>

<!-- JavaScript Files -->
<script src="../public/javascripts/jquery-3.3.1.min.js"></script>
<script src="../public/javascripts/popper.min.js"></script>
<script src="../public/javascripts/bootstrap.js"></script>
<script src="../public/javascripts/mdb.js"></script>
</body>
</html>