<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/font-awesome-5.7.2.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/mdb.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Act Service App</title>
</head>
<body>

    <!-- Main Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-danger">
        <a class="navbar-brand" href="#">Act Services</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link px-4" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link px-4" href="/raise">Raise a Complaint</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4" href="/list">List Complaints</a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Main Content Section -->
    <section class="p-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="font-weight-bold text-danger">Raise a Complaint Here</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, ullam?</p>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <!-- Raise a Complaint -->
    <section class="p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <!-- Empty -->
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header blue-gradient-rgba text-white text-center">
                            <h3>Raise a Request</h3>
                        </div>
                        <div class="card-body bg-light">
                            <form action="/raise" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your Name*" name="username" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="Account Number*" name="account" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" name="issue">
                                                <option value="Slow Internet">Slow Internet</option>
                                                <option value="Router Issue">Router Issue</option>
                                                <option value="Payment Issue">Payment Issue</option>
                                                <option value="Relocation">Relocation</option>
                                                <option value="Others">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" name="priority">
                                                <option value="Low">Low</option>
                                                <option value="Medium">Medium</option>
                                                <option value="High">High</option>
                                                <option value="Very High">Very High</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <textarea name="description" rows="4" class="form-control" placeholder="Your Issue Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <input type="submit" value="Raise" class="btn blue-gradient-rgba my_btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Empty -->
                </div>
            </div>
        </div>
    </section>

    <!-- Main Footer -->
    <footer class="p-3 bg-dark text-white text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Copyright &copy; 2019 , Act Services</h3>
                    <h6>All Rights Reserved</h6>
                    <h6>Developed & Maintained by Act Services</h6>
                </div>
            </div>
        </div>
    </footer>

<!-- JavaScripts -->
<script src="../public/javascripts/jquery-3.3.1.min.js"></script>
<script src="../public/javascripts/popper.min.js"></script>
<script src="../public/javascripts/bootstrap.js"></script>
<script src="../public/javascripts/mdb.js"></script>
</body>
</html>